.absolute{
    position: absolute;
}

.absolute0{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.absolute20rem{
    position: absolute;
    left: 2rem;
    right: 2rem;
    top: 2rem;
    bottom: 2rem;
}

.absolute50rem{
    position: absolute;
    top: 5rem;
    left: 5rem;
    bottom: 5rem;
    right: 5rem;
}

.backgroundattachmentfixed{
    background-attachment: fixed;
}

.backgroundblack2{
    background-color: rgba(0,0,0,0.2);
}

.backgroundblack5{
    background-color: rgba(0,0,0,0.5);
}

.backgroundblack8{
    background-color: rgba(0,0,0,0.8);
}

.backgroundblack10{
    background-color: rgb(0,0,0);
}

.backgroundnorepeat{
    background-repeat: no-repeat;
}

.backgroundpositioncenter{
    background-position: center;
}

.backgroundpositiontopcenter{
    background-position: top center;
}

.backgroundsize100percent{
    background-size: 100%;
}

.backgroundsizecover{
    background-size: cover;
}

.block{
    display: block;
}

.bold{
    font-weight: 700;
}

.border1px{
    border-width: 1px;
}

.border2px{
    border-width: 2px;
}

.border3px{
    border-width: 3px;
}

.border5px{
    border-width: 5px;
}

.borderbottom5px{
    border-bottom-width: 5px;
}

.bordercolor50{
    border-color: rgb(50,50,50);
}

.bordercolor100{
    border-color: rgb(100,100,100);
}

.bordercolor150{
    border-color: rgb(150,150,150);
}

.bordercolor255{
    border-color: rgb(255,255,255);
}

.bordercolorgreen{
    border-color: green;
}

.bordercolorred{
    border-color: red;
}

.borderinset{
    border-style: inset;
}

.borderradius0{
    border-radius: 0;
}

.borderridge{
    border-style: ridge;
}

.borderbottomridge{
    border-bottom-style: ridge;
}

.borderleftridge{
    border-left-style: ridge;
}

.borderrightridge{
    border-right-style: ridge;
}

.bordertopridge{
    border-top-style: ridge;
}

.bordersolid{
    border-style: solid;
}

.bottom1px{
    bottom: 1px;
}

.centertext{
    text-align: center;
}

.displaynone{
    display: none;
}

.fixed0{
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
}

.floatleft{
    float: left;
}

.floatright{
    float: right;
}

.fontsize0875rem{
    font-size: 0.875rem;
}

.fontsize10rem{
    font-size: 1rem;
}

.fontsize0125rem{
    font-size: 1.25rem;
}


.fontsize15rem{
    font-size: 1.5rem;
}

.fontsize20rem{
    font-size: 2rem;
}

.height75rem{
    height: 7.5rem;
}

.height100rem{
    height: 10rem;
}

.height15vw{
    height: 15vw;
}

.inline{
    display: inline;
}

.inlineblock{
    display: inline-block;
}

.italic{
    font-style: italic;
}

.justifytext{
    text-align: justify;
}

.leftn5rem{
    left: -0.5rem;
}

.lefttext{
    text-align: left;
}

.letterspacing3px{
    letter-spacing: 3px;
}

.marginauto{
    margin: auto;
}

.margin0125rem{
    margin: 0.125rem;
}

.margin025rem{
    margin: 0.25rem;
}

.margin5rem{
    margin: 0.5rem;
}

.margin10rem{
    margin: 1rem;
}

.marginbottom025rem{
    margin-bottom: 0.25rem;
}

.marginbottom5rem{
    margin-bottom: 0.5rem;
}

.marginbottom10rem{
    margin-bottom: 1rem;
}

.marginbottom20rem{
    margin-bottom: 2rem;
}

.marginbottom30rem{
    margin-bottom: 3rem;
}

.marginleft025rem{
    margin-left: 0.25rem;
}

.marginleft80rem{
    margin-left: 8rem;
}

.marginright025rem{
    margin-right: 0.25rem;
}

.margintop0{
    margin-top: 0;
}

.margintop5rem{
    margin-top: 0.5rem;
}

.margintop15rem{
    margin-top: 1.5rem;
}

.margintop20rem{
    margin-top: 2rem;
}

.maxheight200rem{
    max-height: 20rem;
}

.maxwidth200rem{
    max-width: 20rem;
}

.minheight75rem{
    min-height: 7.5rem;
}

.minheight85rem{
    min-height: 8.5rem;
}

.minheight100rem{
    min-height: 10rem;
}

.minheight75percent{
    min-height: 75%;
}

.minwidth50rem{
    min-width: 5rem;
}

.minwidth75rem{
    min-width: 7.5rem;
}

.minwidth100rem{
    min-width: 10rem;
}

.minwidth125rem{
    min-width: 12.5rem;
}

.minwidth400rem{
    min-width: 40rem;
}

.overflowauto{
    overflow: auto;
}

.overflowxauto{
    overflow-x: auto;
}

.overflowyhidden{
    overflow-y: hidden;
}

.padding0{
    padding: 0;
}

.padding1px{
    padding: 1px;
}

.padding70px{
    padding: 70px;
}

.padding0125rem{
    padding: 0.125rem;
}

.padding025rem{
    padding: 0.25rem;
}

.padding5rem{
    padding: 0.5rem;
}

.paddingbottom10percent{
    padding-bottom: 10%;
}

.paddingleft5rem{
    padding-left: 0.5rem;
}

.paddingright5rem{
    padding-right: 0.5rem;
}

.relative{
    position: relative;
}

.rightn5rem{
    right: -0.5rem;
}

.righttext{
    text-align: right;
}

.underline{
    text-decoration: underline;
}

.width10percent{
    width: 10%;
}

.width100percent{
    width: 100%;
}

.width75rem{
    width: 7.5rem;
}

.width100rem{
    width: 10rem;
}

.width230rem{
    width: 23rem;
}

.width15vw{
    width: 15vw;
}

.width25vw{
    width: 25vw;
}

.width45vw{
    width: 45vw;
}

.width50vw{
    width: 50vw;
}