*{
    box-sizing: border-box;
}

html{
    font-size: 100%;
}

body
{
    background-image: url("../content/img/background_base.jpg");
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center;
	background-size: cover;
	color: white;
}

h1{
    border-bottom: 5px ridge rgb(100,100,100);
    font-size: 3rem;
    text-align: center;
    padding: 1rem;
    font-family: "Comic Sans Ms";
}

hr{
    border-style: ridge;
    border-color: rgb(100,100,100);
}

a{
    border: 3px ridge white;
    border-radius: 10px;
    padding: 0.25rem;
}
a:visited, a:link
{
	color: white;
}
a:hover{
    border-color: red;
}

input, button
{
    border-width: 2px;
	border-style: ridge;
	border-radius: 10px 10px 10px 10px;
	outline: none;
    background-color: transparent;
    color: white;
    padding: 0.25rem;
}

button, input[type='submit']{
    cursor: pointer;
}

input[type='number']
{
    text-align: right;
}

input:focus, button:hover
{
    border-color: red;
}

select
{
    color: white;
    background-color: black;
    border-width: 3px;
    border-style: solid;
    border-radius: 10px 10px 10px 10px;
    outline: none;
    text-align: center;
}