main{
    position: absolute;
    top: 5rem;
    left: 5rem;
    bottom: 5rem;
    right: 5rem;
    background-color: rgba(0,0,0,0.8);
    border: 5px ridge rgb(100,100,100);
    text-align: center;
    overflow: auto;
}

h1{
    margin-bottom: 2rem;
}

a{
    font-size: 2rem;
    display: block;
    width: 10rem;
    margin: auto;
    margin-bottom: 1rem;
}

@media screen and (max-width: 500px){
    main{
        position: static;
        height: 100%;
    }
}