main{
    position: absolute;
    left: 2rem;
    right: 2rem;
    top: 2rem;
    bottom: 2rem;
    border: 5px ridge rgb(100,100,100);
    background-color: rgba(0,0,0,0.8);
    overflow: auto;
}

#logincontainer{
    float: left;
    border-right: 5px ridge rgb(100,100,100);
}

#registrationcontainer{
    float: right;
    border-left: 5px ridge rgb(100,100,100);
}

#logincontainer, #registrationcontainer{
    width: 23rem;
    border-bottom: 5px ridge rgb(100,100,100);
    padding: 0.25rem;
    margin-left: 0.25rem;
    margin-right: 0.25rem;
    text-align: center;
}

.introduction {
    padding: 0.25rem;
    font-size: 1.5rem;
    text-align: justify;
}

h2{
    font-size: 2rem;
    text-align: center;
}

label{
    display: block;
    font-size: 1.5rem;
    margin-bottom: 0.25rem;
    text-align: right;
}

input{
    font-size: 0.875rem;
}

button{
    margin-bottom: 0.25rem;
}

@media screen and (max-width: 850px){
    #logincontainer, #registrationcontainer{
        float: none;
        border: none;
        border-bottom: 5px ridge rgb(100,100,100);
        width: 100%;
        margin: 0;
    }
    
    label{
        text-align: center;
    }
}