*{
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.viewmain:after{
    content: "";
    clear: both;
    display: block;
}

.backgrounddesert{
    background-image: url("../../content/img/desert_background.jpg");
}
.backgroundlava{
    background-image: url("../../content/img/lava_background.jpg");
}
.backgroundplus{
    background-image: url("../../content/img/plus_background.png");
}
.backgroundterran{
    background-image: url("../../content/img/terran_background.jpg");
}

.list{
    border: 3px ridge rgb(50,50,50);
    border-bottom-width: 5px;
    margin: 0.25rem;
    margin-top: 0.25rem;
    overflow-x: auto;
    overflow-y: hidden;
}

    .listitem{
        border: 2px ridge rgb(150,150,150);
        margin: 0.25rem;
        padding: 0.25rem;
        overflow-x: auto;
        overflow-y: hidden;
    }
    
    .listitem:hover{
        border-color: rgb(200,200,200);
    }
    
        .listtitle{
            text-align: center;
            font-size: 1.5rem;
            overflow-x: auto;
            overflow-y: hidden;
        }
        
@media screen and (max-width: 620px){
    #starviewleftcontainer, #starviewrightcontainer{
        float: none;
        width: 100%;
        border: none;
        border-bottom: 5px ridge rgb(100,100,100);
        position: static;
        min-height: 0;
    }
    
    #starviewplanetlist{
        width: 100%;
    }
}