#mapmain{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

    #mapcontainer{
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        overflow: auto;
    }

        #map{
            width: 2140;
            height: 2140;
            padding: 70;
        }
        
            .starmapelement:hover{
            }
            
                .starnamemapelement{
                    fill: cyan !important;
                    font-size: 1.5rem;
                    font-weight: 700;
                    -webkit-user-select: none;
                    -moz-user-select: none;
                    -ms-user-select: none;
                    user-select: none;
                }
                .starnamemapelement::selection {
                    background: none;
                }
                
            .connectionmapelement{
                
            }
            
            .ownedmapelement{
                fill: green;
            }
            
            .connectedmapelement{
                fill: rgb(150,150,150);
            }
            
            .enemymapelement{
                fill: red;
            }
            
            .visiblemapelement{
                fill: white;
            }
            
            .hiddenmapelement{
                display: none;
            }