.starnamemapelement{
    fill: cyan !important;
    font-size: 1.5rem;
    font-weight: 700;
    stroke: #0073e6;
    stroke-width: 1px;
}
    .ownedmapelement{
        fill: green;
    }
    
    .connectedmapelement{
        fill: rgb(150,150,150);
    }
    
    .enemymapelement{
        fill: red;
    }
    
    .visiblemapelement{
        fill: white;
    }
    
    .hiddenmapelement{
        display: none;
    }