#starviewcontainer header{
    text-align: center;
    padding: 0;
}

#starviewmain{
    padding: 0 0.5rem;
}
#starviewmain:after{
    content: "";
    clear: left;
    display: block;
}

#starviewstarname{
    padding: 0.125rem;
    text-align: center;
    font-size: 2rem;
    font-weight: bold;
    font-style: italic;
    letter-spacing: 3px;
}

    .starviewlistcontainer{
        width: 25vw;
        border-bottom: 5px ridge rgb(100,100,100);
        min-height: 75%;
        overflow-x: auto;
        min-width: 12.5rem;
    }
        #starviewleftcontainer{
            float: left;
            border-right: 5px ridge rgb(100,100,100);
            position: relative;
            left: -0.5rem;
        }
        #starviewrightcontainer{
            float: right;
            border-left: 5px ridge rgb(100,100,100);
            position: relative;
            right: -0.5rem;
        }
        
        .starviewlistcontainertitle{
            text-align: center;
            font-size: 1.5rem;
            border-bottom: 5px ridge rgb(100,100,100);
            padding: 0.25rem;
        }
    
    #starviewplanetlist{
        text-align: center;
        position: relative;
        width: 50vw;
        margin: auto;
    }
    
        .starviewplanet{
            display: inline-block;
            margin: 0.25rem;
            width: 15vw;
            height: 15vw;
            min-width: 10rem;
            min-height: 10rem;
            max-width: 20rem;
            max-height: 20rem;
            position: relative;
            
            border: 3px inset rgb(150,150,150);
            
            
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
        }
        .starviewplanet:hover{
            border-color: white;
        }
        .starviewplanetdesert{
            background-image: url("../../content/img/desert_background.jpg");
        }
        .starviewplanetlava{
            background-image: url("../../content/img/lava_background.jpg");
        }
        .starviewplanetterran{
            background-image: url("../../content/img/terran_background.jpg");
        }
        .starviewplanetcover{
            background-color: rgba(0,0,0,0.5);
            position: absolute;
            left: 0;
            top: 0;
            right: 0;
            bottom: 0;
            overflow: auto;
        }
        .planetlistitem{
            padding: 0;
            display: inline-block;
            padding: 1px;
        }
            
            .starviewplanetname{
                font-size: 1.5rem;
                border-bottom: 3px ridge rgb(100,100,100);
            }
            
                .starviewplanetdescription{
                    font-size: 0.875rem;
                }
                
            .starviewfullplanetslot{
                border-color: red;
            }
            .starviewusedplanetslot{
                border-color: green;
            }
        
@media screen and (max-width: 620px){
    #starviewleftcontainer, #starviewrightcontainer{
        float: none;
        width: 100%;
        border: none;
        position: static;
        border-bottom: 5px ridge rgb(100,100,100);
    }
    
    .starviewlistcontainer{
        min-height: 0;
    }
    
    #starviewplanetlist{
        width: 100%;
    }
    
}