#starviewmain{
    padding: 0 0.5rem;
}
#starviewmain:after{
    content: "";
    clear: left;
    display: block;
}

    #starviewplanetlist{
        text-align: center;
        position: relative;
        width: 50vw;
        margin: auto;
    }
    
        .starviewplanet{
            display: inline-block;
            margin: 0.25rem;
            width: 15vw;
            height: 15vw;
            min-width: 10rem;
            min-height: 10rem;
            max-width: 20rem;
            max-height: 20rem;
            position: relative;
            
            border: 3px inset rgb(150,150,150);
            
            
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
        }
        .starviewplanet:hover{
            border-color: white;
        }
        .starviewplanetdesert{
            background-image: url("../../content/img/desert_background.jpg");
        }
        .starviewplanetlava{
            background-image: url("../../content/img/lava_background.jpg");
        }
        .starviewplanetterran{
            background-image: url("../../content/img/terran_background.jpg");
        }
        .planetlistitem{
            padding: 0;
            display: inline-block;
            padding: 1px;
        }
            
            .starviewplanetname{
                font-size: 1.5rem;
                border-bottom: 3px ridge rgb(100,100,100);
            }
            
                .starviewplanetdescription{
                    font-size: 0.875rem;
                }
                
            .starviewfullplanetslot{
                border-color: red;
            }
            .starviewusedplanetslot{
                border-color: green;
            }
        
@media screen and (max-width: 620px){
    #starviewleftcontainer, #starviewrightcontainer{
        float: none;
        width: 100%;
        border: none;
        position: static;
        border-bottom: 5px ridge rgb(100,100,100);
    }
    
    .listcontainer{
        min-height: 0;
    }
    
    #starviewplanetlist{
        width: 100%;
    }
    
}