.view header{
    text-align: center;
    padding: 0;
}

.objecttitle{
    padding: 0.125rem;
    text-align: center;
    font-size: 2rem;
    font-weight: bold;
    font-style: italic;
    letter-spacing: 3px;
}
.cover{
    background-color: rgba(0,0,0,0.5);
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    overflow: auto;
}

.listcontainer{
    width: 25vw;
    border-bottom: 5px ridge rgb(100,100,100);
    min-height: 75%;
    overflow-x: auto;
    min-width: 12.5rem;
}
    .leftcontainer{
        float: left;
        border-right: 5px ridge rgb(100,100,100);
        position: relative;
        left: -0.5rem;
    }
    .rightcontainer{
        float: right;
        border-left: 5px ridge rgb(100,100,100);
        position: relative;
        right: -0.5rem;
    }
    
    .listcontainertitle{
        text-align: center;
        font-size: 1.5rem;
        border-bottom: 5px ridge rgb(100,100,100);
        padding: 0.25rem;
    }